* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 700 !important;
}

body {
  background: #CEE5F2;
}

nav {
  background-color: #CEE5F2;
  height: 70px;
}

.landing {
  height: 100vh;
  padding-top: 70px;
}

.dashboard {
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.landingLogo {
  background-image: url('assets/rcnlogo.png');
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  transform: skewX(355deg);
}

.landingText {
  margin-left: 3vw;
  margin-right: 3vw;
  padding-top: 3vw;
}

.landingText h1 {
  font-size: 9vw;
  transform: skewX(345deg);
  text-decoration: underline 0.5vw #4357a6;
  text-underline-offset: 1.5vw;
}

#pagination * {
  color: #536B78 !important;
  font-family: 'Teko' !important;
  font-size: 16px !important;
}

tbody tr:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile {
  height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 2vw;
}

.imageSection {
  width: 50%;
  border: 1px solid rgba(108, 108, 108, 0.1);
  margin: 35px 5px;
  min-height: 630px;
  background-color: rgba(255, 255, 255, 0.646);
}

.imageSection h1 {
  color: #536B78;
}

.avatar {
  border: 3px solid black;
  margin: 0px auto;
}

.infoSection__top,
.infoSection__bottom {
  border: 1px solid rgba(108, 108, 108, 0.1);
  margin: 15px 5px;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.646);
  padding: 0px 10px;
}

.infoInner {
  border: 2px solid black;
  border-radius: 3px;
  height: calc(100% - 60px);
  display: flex;
}

.infoInner__left,
.infoInner__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.infoInner__left div,
.infoInner__right div {
  height: calc(100% / 8)
}

.infoInner__left {
  border-right: 1px solid black;
}

.infoInner__right {
  border-left: 1px solid black;
}

.innerValue {
  font-size: 1.1vw;
}


.recentlyViewed {
  border: 1px solid black;
  left: 3.75vw;
  background: rgba(0, 0, 0, 0.274);
  font-size: 1.3vw;
}

.css-177gid-MuiTableCell-root {
  text-align: left !important;
}

#table {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.646);
  border: 1px solid rgba(108, 108, 108, 0.1);
  margin-bottom: unset !important;
  padding: 0px 1.5vw;
}

th,
td {
  font-family: 'Teko' !important;
}

thead th {
  color: #536B78 !important;
  background-color: unset !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
  font-family: 'Teko';
}

@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    height: auto;
    min-height: 1000px;
  }
  .imageSection {
    width: 100%;
    height: 50vh;
    min-height: 450px;
  }
  .infoSection {
    width: 100%;
    height: 50vh;
  }
  #innerInput {
    font-size: 2vw;
  }
  #userHeader {
    margin: 5px;
  }
  #nameLabel {
    margin-top: 5px;
  }
  .recentlyViewed {
    font-size: 1.5vw;
  }
  .innerValue {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 500px) {
  .recentlyViewed {
    font-size: 2.5vw;
  }
}