* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 700 !important;
}

body {
  background: #CEE5F2;
}

nav {
  background-color: #CEE5F2;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 70px;
  top: 0;
}

.navItem {
  /* border: 1px solid green; */
}

.landing {
  display: flex;
  height: 100vh;
  padding-top: 70px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

#landingLogo {
  /* border: 1px solid red; */
  background-image: url('assets/rcnlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
}

#landingText {
  height: 60%;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-top: 3vw;
}

#landingText h1 {
  font-size: 9vw;
  font-family: 'Teko';
  text-align: center;
  font-style: italic;
  text-decoration: underline 0.5vw #4357a6;
  text-underline-offset: 1.5vw;
}

#tableHeader {
  font-family: 'Teko';
  font-size: 18px;
  background: #536B78;
  color: #CEE5F2;
}

#tableHeader:hover {
  cursor: pointer;
  opacity: 0.7;
}

.css-1ex1afd-MuiTableCell-root {
  color: white !important;
  font-family: 'Teko' !important;
  font-size: 16px !important;
}

#pagination * {
  color: #CEE5F2 !important;
  font-family: 'Teko' !important;
  font-size: 16px !important;
}

tbody tr:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile {
  /* border: 1px solid red; */
  width: 100vw;
  max-width: 1600px;
  height: calc(100vh - 70px);
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 2vw;
  display: flex;
}

.imageSection {
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
  width: 50%;
  border: 1px solid rgba(108, 108, 108, 0.1);
  margin: 35px 5px;
  border-radius: 10px;
  min-height: 630px;
  background-color: rgba(255, 255, 255, 0.25);
}

.imageSection h1 {
  font-family: 'Teko';
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
  color: #536B78;
  text-decoration: underline;
}

#userHeader {
  font-size: 36px;
  color: black;
  margin-bottom: 20px;
}

.imageSection h2 {
  font-family: 'Teko';
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}

.avatar {
  height: 300px;
  width: 300px;
  border-radius: 1000px;
  border: 3px solid black;
  margin: 0px auto;
}

.infoSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.infoSection h1 {
  font-family: 'Teko';
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  color: black;
  text-decoration: underline;
}

.infoSection__top,
.infoSection__bottom {
  width: 100%;
  height: 50%;
  border: 1px solid rgba(108, 108, 108, 0.1);
  margin: 15px 5px;
  border-radius: 10px;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0px 10px;
}

#two {
  text-decoration: unset;
}

.infoInner {
  border: 2px solid black;
  border-radius: 3px;
  height: calc(100% - 60px);
  display: flex;
}

.infoInner__left,
.infoInner__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.infoInner__left {
  border-right: 1px solid black;
}

.infoInner__right {
  border-left: 1px solid black;
}

.innerInner {
  height: calc(100% / 8);
  width: 100%;
  font-family: 'Teko';
  text-align: center;
  font-size: 20px;
  background-color: #ACCBE1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: rgb(77, 77, 77);
}

#innerInput {
  background-color: unset;
  display: flex;
  justify-content: start;
  margin: 0px 10px;
  font-weight: 500;
  text-decoration: unset;
  color: black;
  font-size: 1.1vw;
  overflow: scroll;
}

#back {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  position: absolute;
  margin: 10px;
}

#back:hover {
  cursor: pointer;
  opacity: 0.7;
}

.recentlyViewed {
  border: 1px solid black;
  height: 50px;
  width: 30vw;
  max-width: 300px;
  position: absolute;
  left: 3.75vw;
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.274);
  font-family: 'Teko';
  font-size: 1.1vw;
}

.recentlyViewed:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    height: auto;
    min-height: 1000px;
  }
  .imageSection {
    width: 100%;
    height: 50vh;
    min-height: 450px;
  }
  .infoSection {
    width: 100%;
    height: 50vh;
  }
  #innerInput {
    font-size: 2vw;
  }
  #userHeader {
    margin: 5px;
  }
  #two {
    margin-top: 5px;
  }
}